/* styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-gray-cb: #ededed;
  --gray-cb: #474B4F;
  --dark-gray-cb: #222629;
  --green-cb: #FFFF33;
  --dark-green-cb: #CCCC00;
  --radius: 0.375rem;
}

/* Global Styles */
body {
  background-color: var(--light-gray-cb);
}

.container {
  max-width: 1760px;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

a {
  text-decoration: none;
}

header, footer {
  background-color: var(--dark-gray-cb);
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
}

